#root {
  display: flex;
  flex-direction: column;
  background-color: #efefefea;
  padding: 40px 0;
  font-family:
    'Montserrat',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.App {
  width: 80%;
  margin-left: 10%;
  background-color: white;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 8%;
  border-bottom: 1px solid #efefef;
}

nav .navdiv {
  display: flex;
  flex-direction: row;
}

nav p {
  font-size: 20px;
  font-weight: bolder;
}

nav ul {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 24px;
}

nav ul li {
  list-style: none;
}

nav ul li .Link {
  text-decoration: none;
  color: rgb(192, 192, 192);
}

.book-author,
.book-title {
  font-family: "Roboto Slab", serif;
}

.container {
  padding: 20px 8%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  background-color: rgba(250, 250, 250, 0.966);
}

.container .single-book-item {
  border: 1px solid #b9b5b5d2;
  border-radius: 4px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  background-color: white;
}

.progress {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-right: 100px;
  border-right: 1px solid #efefef;
  gap: 15px;
}

.book-info .book-title {
  font-size: 24px;
  font-weight: 700;
}

.container .single-book-item .book-info p {
  line-height: 0;
}

.container .single-book-item .book-info .book-author {
  color: rgb(24, 124, 238);
  margin-bottom: 30px;
}

.single-book-item .book-info span {
  color: rgb(24, 124, 238);
  border-right: 1px solid #efefef;
  padding-right: 20px;
  cursor: pointer;
  font-family: "Roboto Slab", serif;
}

.single-book-item .book-info .span {
  padding: 0 20px;
}

.single-book-item .book-info .span .span-btn {
  background-color: transparent;
  outline: none;
  font-family: "Roboto Slab", serif;
  border: none;
  color: rgb(24, 124, 238);
  font-size: 0.875rem;
  font-weight: 300;
  align-items: center;
  cursor: pointer;
}

.single-book-item .book-info .edit {
  border-right: none;
}

.progress-bar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 5px solid #449eee;
  border-left-color: #e8e8e8;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

.form {
  margin-top: 20px;
  border-top: 1px solid #b9b5b5d2;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form .form-input {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.form h2 {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  font-size: 1.5rem;
  color: #676767e8;
}

.form .form-input input {
  padding: 10px;
  width: 32%;
}

.form button,
.btn {
  background-color: rgb(28, 125, 235);
  color: #efefef;
  outline: auto;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.cr-belue {
  color: rgb(24, 124, 238);
}

.book-catagory {
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  opacity: 0.5;
}
